{% extends "layout.html" %}
  
{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block page_content %}

<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <div class="logo">
  <img src="/logo.jpg" alt="logo">
  <h2>CodingNepal</h2>
  </div>

  <ul class="links">
  <h4>Main Menu</h4>
  <li>
      
      <a href="#">Main Menu</a>
  </li>
  <li>
  
      <a href="#">Main Menu</a>
  </li>
  <li>
  
      <a href="#">Main Menu</a>
  </li>
  <hr>
  <h4>title</h4>
  <li>
  
      <a href="#">Main Menu</a>
  </li>
  <li>
  
      <a href="#">Main Menu </a>
  </li>
  <li>
      
      <a href="#">Main Menu</a>
  </li>
  <li>
  
      <a href="#">Main Menu</a>
  </li>
  <li>
      
      <a href="#">Main Menu</a>
  </li>
  <hr>
  <h4>textbox</h4>
  <div id="bartext" class="bartext">
      
  </div>
  

  </ul>
</div>

<!-- textcontainer -->
<div class="textcontainer" id="textcontainer">
<div class="textbox">
<h1>Background and inspiration</h1>
<div class="maintext">
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Eating, for human beings, is a means of obtaining energy, and at the same time, it is also the instinct of every human being to maintain survival. Along with the continuous progress of people's living conditions, the choice of food in people's daily life also tends to be more diversified. It is becoming more and more common to find food from different regions, countries and nationalities on the same table, and the different eating habits of people from different regions have been blended with the increasing globalisation.
</div>
<div style="text-align: center;">
  <img src="pic111.jpg" alt="" class="img1">
</div>

</div>

<div class="maintext">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  However, the difference in speed between the progress of civilisation and the evolution of mankind can sometimes cause problems for a number of people - for example, because of the susceptibility caused by the HLA-DQA1 and HLA-DQB1 genes to celiac disease, one of the most typical gluten intolerance disorders. But wherever this population ingests trace amounts of gluten proteins through food, most of them trigger an immediate pathological reaction, which undoubtedly poses a huge problem for this group of people in terms of study, employment, travelling, etc. due to the highly restrictive nature of their diet. UM-Macau, through our Gluten Enzymatic Intestinal Guardians programme, is addressing this issue for our community and the world this year.
</div>
<div class="textbox">
<h1>Problem we are facing</h1>
<div class="maintext">
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Celiac disease occurs because the enzymes in the human digestive system are unable to break down gluten completely, leaving a 33-amino acid peptide chain that is rich in proline and glutamine, resulting in a structure that is stable even in the presence of digestive enzymes. In the general population, the 33-mer peptide has no effect; however, in people with HLA-DQA1 and HLA-DQB1 susceptibility genes, the 33-mer peptide will be taken up by intestinal M-cells as an antigen and recognised by basal dendritic cells, over-activating the intestinal immune system and causing destruction of normal tissues, leading to the development of celiac disease. leading to the development of celiac disease.
</div>
<div style="text-align: center;">
  <img src="pic111.jpg" alt="" class="img1">
  <p>this is comment</p>
</div>

</div>
</div>  

{% endblock %}
