{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}

{% block page_content %}


  <body class="layui-bg-gray">

    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-col-lg12 " style="background-color: #2f363c; height: 100px;  ">
                <div class="layui-col-lg6"> 
                  <div class="layui-col-lg2" style="background-color:; height:100px;">
                   <img src="pic-sample.jpg" alt="" style="height: 100px;">
                  </div>
                  <div class="layui-col-lg6">
                    <H1>UM-MACAU</H1>
                  </div>
                </div>
                <div class="layui-col-lg6" style="background-color: #2f363c;">
                    <br >
     
                    <ul class="layui-nav layui-bg-cyan"   style="background-color: #2f363c;">
                        <!-- <div class="layui-col-lg6"></div> -->
                        <div class=""  style="background-color: #2f363c;"> 
                            <li class="layui-nav-item " ><a href="">Home</a></li>
                            <li class="layui-nav-item">
                                <a href="javascript:;">Team</a>
                                <dl class="layui-nav-child">
                                  <dd><a href="">Team</a></dd>
                                  <dd><a href="">Attributions</a></dd>
                                </dl>
                              </li>
                              <li class="layui-nav-item">
                                <a href="javascript:;">Project</a>
                                <dl class="layui-nav-child">
                                  <dd><a href="">Contribution</a></dd>
                                  <dd><a href="">Description</a></dd>
                                  <dd><a href="">Engineering</a></dd>
                                  <dd><a href="">Experiments</a></dd>
                                  <dd><a href="">Notebook</a></dd>
                                  <dd><a href="">Results</a></dd>
                                </dl>
                              </li>
                              <li class="layui-nav-item">
                                <a href="javascript:;">Safety</a>
                                <!-- <dl class="layui-nav-child">
                                  <dd><a href="">选项1</a></dd>
                                  <dd><a href="">选项2</a></dd>
                                  <dd><a href="">选项3</a></dd>
                                </dl> -->
                              </li>
                              <li class="layui-nav-item">
                                <a href="javascript:;">Human Practices</a>
                                <!-- <dl class="layui-nav-child">
                                  <dd><a href="">选项1</a></dd>
                                  <dd><a href="">选项2</a></dd>
                                  <dd><a href="">选项3</a></dd>
                                </dl> -->
                              </li>
                              <li class="layui-nav-item">
                                <a href="javascript:;">Awards</a>
                                <dl class="layui-nav-child">
                                  <dd><a href="">Education</a></dd>
                                  <dd><a href="">Entrepreneurship</a></dd>
                                  <dd><a href="">Hardware</a></dd>
                                  <dd><a href="">Inclusivity</a></dd>
                                  <dd><a href="">Measurement</a></dd>  
                                  <dd><a href="">Model</a></dd>
                                  <dd><a href="">Plant</a></dd> 
                                   <dd><a href="">Software</a></dd>
                                  <dd><a href="">Sustainable</a></dd>
                                </dl>
                              </li>
                              <li class="layui-nav-item">
                                <a href="javascript:;">Contact us</a>
                        </div>
                
                    </ul>
                    <br>
                    </div>
                    <!-- <br> -->
            </div>
          
            </div>
            <div class="layui-row" >
                <!-- 页内导航 -->
              
                <nav class="shell">
                  <ul class="buttons">
                      <li class="li">
                     一级定位
                          <ul>
                              <li><a href="https://www.baidu.com"> sold baby</a></li>
                              <li><a href="https://www.baidu.com"> sold baby</a></li>
                              <li><a href="https://www.baidu.com"> sold baby</a></li>
                              <li><a href="https://www.baidu.com"> sold baby</a></li>
                          </ul>
                      </li>
          
                      <li class="li">
                        一级定位
                             <ul>
                                 <li><a href="https://www.baidu.com"> sold baby</a></li>
                                 <li><a href="https://www.baidu.com"> sold baby</a></li>
                                 <li><a href="https://www.baidu.com"> sold baby</a></li>
                                 <li><a href="https://www.baidu.com"> sold baby</a></li>
                             </ul>
                         </li>
          
                         <li class="li">
                          一级定位
                               <ul>
                                   <li><a href="https://www.baidu.com"> sold baby</a></li>
                                   <li><a href="https://www.baidu.com"> sold baby</a></li>
                                   <li><a href="https://www.baidu.com"> sold baby</a></li>
                                   <li><a href="https://www.baidu.com"> sold baby</a></li>
                               </ul>
                           </li>
          
                           <li class="li">
                            一级定位
                                 <ul>
                                     <li><a href="https://www.baidu.com"> sold baby</a></li>
                                     <li><a href="https://www.baidu.com"> sold baby</a></li>
                                     <li><a href="https://www.baidu.com"> sold baby</a></li>
                                     <li><a href="https://www.baidu.com"> sold baby</a></li>
                                 </ul>
                             </li>
                  </ul>
              </nav>
    
                    <!-- 人物介绍· -->
    
        <div class="layui-col-lg8 layui-col-lg-offset4" > 
            <div class="layui-col-lg10 layui-col-lg-offset1" style="background-color: red; height: 400px; margin-top: 150px;">
              
           </div>
           <div class="layui-col-lg12">
            <div class="layui-col-lg6 layui-col-lg-offset3">
                <p class="layui-font-32 layui-margin-5"> captain</p>
               
            </div>
            <div class="layui-col-lg10 layui-tab">
                <ul class="layui-tab-title layui-padding-3" >
                    <li class="layui-this">标签1</li>
                    <li>标签2</li>
                    <li>标签3</li>
                    <li>标签4</li>
                    <li>标签5</li>
                  </ul>
                  <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show layui-col-lg12">
                      
                        <div class="blog-slider">
                            <div class="blog-slider_wrp swiper-wrapper">
                        
                                <div class="blog-slider_item swiper-slide">
                                    <div class="blog-slider_img">
                                      <img src="pic-sample.jpg" alt="">
                                      <div class="e">
                                          <img src="pic-sample.jpg" alt="">
                                      </div>
                                    </div>
                                    <div class="blog-slider_content">
                                        <span class="blog-slider_code">captain</span>
                                        <div class="blog-slider_title">name</div>
                                        <div class="blog-slider_text">
                                            askdaskdbaksbdikaudvbkasdbkas vbkasbdkuadkasvbdkabdkuasbdkuas
                                        </div>
                                        <a href="#" class="blog-slider_button">instagram</a>
                                    </div>
                                </div>
                        
                                <!-- 相同的格式，复制了两次，修改自己需要的内容 -->
                
                        
                            </div>
                            <div class="blog-slider_pagination"></div>
                        </div>
                        <!-- partial -->
                          <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
                        <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.15/swiper-bundle.min.js'></script><script src="./script.js"></script>

                    </div>
                    <div class="layui-tab-item">内容-2</div>
                    <div class="layui-tab-item">内容-3</div>
                    <div class="layui-tab-item">内容-4</div>
                    <div class="layui-tab-item">内容-5</div>
                  </div>
                  
            </div>
           </div>
           <div class="layui-col-lg12">
            <div class="layui-col-lg6 layui-col-lg-offset3">
                <p class="layui-font-32 layui-margin-5"> wet lab</p>
               
            </div>
            <div class="layui-col-lg10 layui-tab">
              <ul class="layui-tab-title layui-padding-3" >
                  <li class="layui-this">标签1</li>
                  <li>标签2</li>
                  <li>标签3</li>
                  <li>标签4</li>
                  <li>标签5</li>
                </ul>
                <div class="layui-tab-content">
                  <div class="layui-tab-item layui-show layui-col-lg12">
                    
                      <div class="blog-slider">
                          <div class="blog-slider_wrp swiper-wrapper">
                      
                              <div class="blog-slider_item swiper-slide">
                                  <div class="blog-slider_img">
                                    <img src="pic-sample.jpg" alt="">
                                    <div class="e">
                                        <img src="pic-sample.jpg" alt="">
                                    </div>
                                  </div>
                                  <div class="blog-slider_content">
                                      <span class="blog-slider_code">captain</span>
                                      <div class="blog-slider_title">name</div>
                                      <div class="blog-slider_text">
                                          askdaskdbaksbdikaudvbkasdbkas vbkasbdkuadkasvbdkabdkuasbdkuas
                                      </div>
                                      <a href="#" class="blog-slider_button">instagram</a>
                                  </div>
                              </div>
                      
                              <!-- 相同的格式，复制了两次，修改自己需要的内容 -->
              
                      
                          </div>
                          <div class="blog-slider_pagination"></div>
                      </div>
                      <!-- partial -->
                        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
                      <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.15/swiper-bundle.min.js'></script><script src="./script.js"></script>

                  </div>
                  <div class="layui-tab-item">内容-2</div>
                  <div class="layui-tab-item">内容-3</div>
                  <div class="layui-tab-item">内容-4</div>
                  <div class="layui-tab-item">内容-5</div>
                </div>
                
          </div>
           </div><div class="layui-col-lg12">
            <div class="layui-col-lg6 layui-col-lg-offset3">
                <p class="layui-font-32 layui-margin-5"> dry lab</p>
               
            </div>
            <div class="layui-col-lg10 layui-tab">
              <ul class="layui-tab-title layui-padding-3" >
                  <li class="layui-this">标签1</li>
                  <li>标签2</li>
                  <li>标签3</li>
                  <li>标签4</li>
                  <li>标签5</li>
                </ul>
                <div class="layui-tab-content">
                  <div class="layui-tab-item layui-show layui-col-lg12">
                    
                      <div class="blog-slider">
                          <div class="blog-slider_wrp swiper-wrapper">
                      
                              <div class="blog-slider_item swiper-slide">
                                  <div class="blog-slider_img">
                                    <img src="pic-sample.jpg" alt="">
                                    <div class="e">
                                        <img src="pic-sample.jpg" alt="">
                                    </div>
                                  </div>
                                  <div class="blog-slider_content">
                                      <span class="blog-slider_code">captain</span>
                                      <div class="blog-slider_title">name</div>
                                      <div class="blog-slider_text">
                                          askdaskdbaksbdikaudvbkasdbkas vbkasbdkuadkasvbdkabdkuasbdkuas
                                      </div>
                                      <a href="#" class="blog-slider_button">instagram</a>
                                  </div>
                              </div>
                      
                              <!-- 相同的格式，复制了两次，修改自己需要的内容 -->
              
                      
                          </div>
                          <div class="blog-slider_pagination"></div>
                      </div>
                      <!-- partial -->
                        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
                      <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.15/swiper-bundle.min.js'></script><script src="./script.js"></script>

                  </div>
                  <div class="layui-tab-item">内容-2</div>
                  <div class="layui-tab-item">内容-3</div>
                  <div class="layui-tab-item">内容-4</div>
                  <div class="layui-tab-item">内容-5</div>
                </div>
                
          </div>
           </div>
       
           <div class="layui-col-lg12">
            <div class="layui-col-lg6 layui-col-lg-offset3">
                <p class="layui-font-32 layui-margin-5"> human lab</p>
               
            </div>
            <div class="layui-col-lg10 layui-tab">
              <ul class="layui-tab-title layui-padding-3" >
                  <li class="layui-this">标签1</li>
                  <li>标签2</li>
                  <li>标签3</li>
                  <li>标签4</li>
                  <li>标签5</li>
                </ul>
                <div class="layui-tab-content">
                  <div class="layui-tab-item layui-show layui-col-lg12">
                    
                      <div class="blog-slider">
                          <div class="blog-slider_wrp swiper-wrapper">
                      
                              <div class="blog-slider_item swiper-slide">
                                  <div class="blog-slider_img">
                                    <img src="pic-sample.jpg" alt="">
                                    <div class="e">
                                        <img src="pic-sample.jpg" alt="">
                                    </div>
                                  </div>
                                  <div class="blog-slider_content">
                                      <span class="blog-slider_code">captain</span>
                                      <div class="blog-slider_title">name</div>
                                      <div class="blog-slider_text">
                                          askdaskdbaksbdikaudvbkasdbkas vbkasbdkuadkasvbdkabdkuasbdkuas
                                      </div>
                                      <a href="#" class="blog-slider_button">instagram</a>
                                  </div>
                              </div>
                      
                              <!-- 相同的格式，复制了两次，修改自己需要的内容 -->
              
                      
                          </div>
                          <div class="blog-slider_pagination"></div>
                      </div>
                      <!-- partial -->
                        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
                      <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.15/swiper-bundle.min.js'></script><script src="./script.js"></script>

                  </div>
                  <div class="layui-tab-item">内容-2</div>
                  <div class="layui-tab-item">内容-3</div>
                  <div class="layui-tab-item">内容-4</div>
                  <div class="layui-tab-item">内容-5</div>
                </div>
                
          </div>
           </div>
           <div class="layui-col-lg12">
            <div class="layui-col-lg6 layui-col-lg-offset3">
                <p class="layui-font-32 layui-margin-5"> captain</p>
               
            </div>
            
           </div>
                     
    
            
                <!-- home页内内容部分 -->
                 
                 <!-- footer部分 -->
                  <div class="layui-row" >
                    <div class="layui-col-lg12" style="background-color: #16b777;"> 
    
                    </div>
                 </div>
                
              </div>
              <!-- footer部分 -->
              <div class="layui-row">
                <img src="pic-sample.jpg" alt="">
              </div>
        </div>
   

<!-- 轮播组件控制js -->
<script src="//unpkg.com/layui@2.9.13/dist/layui.js"></script>
<script>
layui.use(function(){
  var carousel = layui.carousel;
  // 渲染 - 图片轮播
  carousel.render({
    elem: '#ID-carousel-demo-image',
    width: '720px',
    height: '360px',
    interval: 3000
  });
});
</script>
<script>
    var swiper = new Swiper('.blog-slider', {
      spaceBetween: 30,
      effect: 'fade',
      loop: true,
      mousewheel: {
        invert: false,
      },

      pagination: {
        el: '.blog-slider_pagination',
        clickable: true,
      }
    });
</script>

  </body>

{% endblock %}
